body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.todo-container {
  background: rgb(255, 21, 21);
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(255, 17, 17, 0.15);
}

.todo-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 6px;
  outline: none;
}

input:focus {
  border-color: #6c63ff;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

form button {
  background-color: #270cd6;
  color: rgb(0, 0, 0);
}

form button:hover {
  background-color: #cd1bc7;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  padding: 8px 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.deleteBtn {
  background-color: #3aec22;
  color: white;
}

.deleteBtn:hover {
  background-color: #e60000;
}