*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
/* App Container */
.app {

  padding: 20px;
  font-family: Arial, sans-serif;
  color: whitesmoke;
  background-color: #111;
  
}

/* Product Grid */
.product-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* Card Styling */
.card {
 height: fit-content;
  border: 1px solid #ee1818;
  padding: 15px;
  width: 200px;
  text-align: center;
  border-radius: 8px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Image */
.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Button */
.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background-color: #0056b3;
}

/* Cart Section */
.cart {
  margin-top: 20px;
}

.cart-item {
  margin: 5px 0;
  
}

.total {
  margin-top: 20px;
  font-weight: bold;
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}