*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rebeccapurple;
    margin:200px  350px;
    border-radius: 20px;

     
}

